
<i class="fa fa-space-shuttle fa-5x fa-spin" aria-hidden="true"> </i>
<h3>Enter a date</h3>
<form>
  <div class="form-group">
    <input type=date name="" value="" #asteroidDate>
  </div>
  <div>
    <p>On this date, if one of the asteroids deemed by NASA <br>  
      to be "potentially hazardous asteroids" <br>
      were to have a sudden change in heart or trajectory <br>
      that puts it on a collision course with EARTH, <br>
      find out how long you have before impact is made.</p>
  </div>
  <button (click)="getAsteroids(asteroidDate.value)" type="submit">How Long Do I Have?</button>
</form>

<div *ngIf="asteroids">
  <app-asteroid-list [childAsteroids]="asteroids"></app-asteroid-list>
</div>

<div id="solar">
  <app-solar-system></app-solar-system>
</div>