<h2>Asteroids</h2>
<div id="resultDiv">
  <h1>These are the bad guys:</h1>
  <table class="darkTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Distance Away</th>
        <th>Velocity</th>
        <th>Days Left</th>
      </tr>
    </thead>
    <tbody>
      <tr #elseBlock *ngFor="let asteroid of childAsteroids;">
        <td>{{asteroid.name}}</td>
        <td>{{asteroid.distance}}</td>
        <td>{{asteroid.velocity}}</td>
        <td>{{asteroid.timeLeft}}</td>
      </tr>
    </tbody>
  </table>
</div>