
<div id="resultDiv">
  <table class="darkTable">
    <thead>
      <tr>
        <th>Asteroid Name</th>
        <th>Distance Away</th>
        <th>Velocity</th>
        <th>Time Left</th>
      </tr>
    </thead>
    <tbody>
      <tr #elseBlock *ngFor="let asteroid of childAsteroids;">
        <td>{{asteroid.name}}</td>
        <td>{{asteroid.distance}} miles</td>
        <td>{{asteroid.velocity}} miles/hr</td>
        <td>{{asteroid.timeLeft}} days</td>
      </tr>
    </tbody>
  </table>
</div>